/* Add your custom styles here */
body {
    background-image: url('bg.jpeg');
    background-size: cover;
    margin: 0; /* Add to reset default margin */
    font-family: Arial, sans-serif; /* Add a fallback font */
    color: #fff; /* Set text color to white */
  }
  h1{
    color: #ffffff;
    text-align: center;
}
  header {
    background-color: #000000; /* Add background color for the navigation bar */
    padding: 20px 0; /* Add padding to the navigation bar */
  }
  
  nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  nav ul li {
    display: inline; /* Display navigation items inline */
    margin-right: 200px; /* Add spacing between navigation items */
    margin-left: 200px; 
  }
  
  nav ul li a {
    color: #fff; /* Set text color to white */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Add bold font weight */
  }
  
  nav ul li a:hover {
    color: #061948; /* Change text color on hover */
  }
  
  #resources {
    padding: 100px 0;
    text-align: center;
  }
  
  .subject-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .subject-button {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000; /* Set button text color to black */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Add bold font weight */
    padding: 20px; /* Add padding to buttons */
    margin: 10px; /* Add margin to buttons */
    border-radius: 5px; /* Add border radius to buttons */
    transition: box-shadow 0.3s; /* Add transition for box shadow */
    width: 300px; /* Set width for buttons */
  }
  
  .subject-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
  }
  
  .subject-info {
    text-align: center;
    margin-top: 20px; /* Add top margin to subject info */
  }
  
  .subject-info img {
    max-width: 200px; /* Set max width for images */
    margin-bottom: 20px; /* Add bottom margin to images */
  }
  